Tele.ServiceReference/Service References/CfgServiceReference/CfgService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="tns:LoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EventAuthenticated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employeeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonResult" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgentInfo" type="tns:AgentInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="CHAT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VOICE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastValue" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SkillLevels" type="tns:ArrayOfSkillLevel" />
          <s:element minOccurs="0" maxOccurs="1" name="AgentLogins" type="tns:ArrayOfAgentLogin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSkillLevel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SkillLevel" nillable="true" type="tns:SkillLevel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SkillLevel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DBID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAgentLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AgentLogin" nillable="true" type="tns:AgentLogin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgentLogin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSkill">
        <s:complexType />
      </s:element>
      <s:element name="GetSkillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSkillResult" type="tns:ArrayOfSkill" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSkill">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Skill" nillable="true" type="tns:Skill" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Skill">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonSoapIn">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="GetPersonSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetSkillSoapIn">
    <wsdl:part name="parameters" element="tns:GetSkill" />
  </wsdl:message>
  <wsdl:message name="GetSkillSoapOut">
    <wsdl:part name="parameters" element="tns:GetSkillResponse" />
  </wsdl:message>
  <wsdl:portType name="CfgServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input message="tns:GetPersonSoapIn" />
      <wsdl:output message="tns:GetPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSkill">
      <wsdl:input message="tns:GetSkillSoapIn" />
      <wsdl:output message="tns:GetSkillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CfgServiceSoap" type="tns:CfgServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkill">
      <soap:operation soapAction="http://tempuri.org/GetSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CfgServiceSoap12" type="tns:CfgServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap12:operation soapAction="http://tempuri.org/GetPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkill">
      <soap12:operation soapAction="http://tempuri.org/GetSkill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CfgService">
    <wsdl:port name="CfgServiceSoap" binding="tns:CfgServiceSoap">
      <soap:address location="http://localhost:32622/CfgService.asmx" />
    </wsdl:port>
    <wsdl:port name="CfgServiceSoap12" binding="tns:CfgServiceSoap12">
      <soap12:address location="http://localhost:32622/CfgService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>