Tele.ServiceReference/Service References/StatServiceReference/StatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Open12">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DBID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Open12Response">
        <s:complexType />
      </s:element>
      <s:element name="Get12">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DBID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get12Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get12Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Open12SoapIn">
    <wsdl:part name="parameters" element="tns:Open12" />
  </wsdl:message>
  <wsdl:message name="Open12SoapOut">
    <wsdl:part name="parameters" element="tns:Open12Response" />
  </wsdl:message>
  <wsdl:message name="Get12SoapIn">
    <wsdl:part name="parameters" element="tns:Get12" />
  </wsdl:message>
  <wsdl:message name="Get12SoapOut">
    <wsdl:part name="parameters" element="tns:Get12Response" />
  </wsdl:message>
  <wsdl:portType name="StatServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Open12">
      <wsdl:input message="tns:Open12SoapIn" />
      <wsdl:output message="tns:Open12SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get12">
      <wsdl:input message="tns:Get12SoapIn" />
      <wsdl:output message="tns:Get12SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatServiceSoap" type="tns:StatServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Open12">
      <soap:operation soapAction="http://tempuri.org/Open12" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get12">
      <soap:operation soapAction="http://tempuri.org/Get12" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatServiceSoap12" type="tns:StatServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Open12">
      <soap12:operation soapAction="http://tempuri.org/Open12" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get12">
      <soap12:operation soapAction="http://tempuri.org/Get12" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatService">
    <wsdl:port name="StatServiceSoap" binding="tns:StatServiceSoap">
      <soap:address location="http://localhost:32622/StatService.asmx" />
    </wsdl:port>
    <wsdl:port name="StatServiceSoap12" binding="tns:StatServiceSoap12">
      <soap12:address location="http://localhost:32622/StatService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>